<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mazer Admin Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/iconly/bold.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/choices.js/choices.min.css') }}">
    <!--     
    <link rel="stylesheet" href="assets/vendors/dripicons/webfont.css">
    <link rel="stylesheet" href="assets/css/pages/dripicons.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/simple-datatables/style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/bootstrap-icons/bootstrap-icons.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/perfect-scrollbar/perfect-scrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.svg') }}" type="image/x-icon">
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="/admin_dashboard"><img
                                    src="{{ url_for('static', filename='images/logo/logo.png') }}" alt="Logo"
                                    style="height: 3rem;"></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <!-- side bar menu -->
                    <ul class="menu">

                        <!-- menu -->
                        <li class="sidebar-title">Menu</li>
                        <li class="sidebar-item">
                            <a href="/admin_dashboard" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="/admin_kecamatan" class='sidebar-link'>
                                <i class="bi bi-geo-fill"></i>
                                <span>Kecamatan</span>
                            </a>
                        </li>

                        <li class="sidebar-item active">
                            <a href="/admin_rumah" class='sidebar-link'>
                                <i class="bi bi-house-fill"></i>
                                <span>Rumah</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/admin_kontak_agen" class='sidebar-link'>
                                <i class="bi bi-person-lines-fill"></i>
                                <span>Kontak Agen</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/admin_logout" class='sidebar-link'>
                                <i class="bi bi-box-arrow-left"></i>
                                <span>Log out</span>
                            </a>
                        </li>
                        <!-- menu end -->

                        <!-- user -->
                        <li class="sidebar-title">Users</li>
                        <li class="sidebar-item">
                            <a href="/admin_user" class='sidebar-link'>
                                <i class="bi bi-people-fill"></i>
                                <span>User</span>
                            </a>
                        </li>
                        <!-- user end -->

                    </ul>
                    <!-- side bar menu end -->
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <strong>
                                <h3>Rumah</h3>
                            </strong>
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">

                            </nav>
                        </div>
                    </div>
                </div>
                <section id="multiple-column-form">
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Edit Rumah</h4>
                                </div>

                                <!-- Alert logic -->
                                {% with messages = get_flashed_messages(with_categories=true) %} {% if
                                messages %} {% for category, message in messages %} {% if category ==
                                'error' %}
                                <div class="alert alert-danger" role="alert">
                                    {{ message }}
                                </div>
                                {% elif category == 'warning' %}
                                <div class="alert alert-warning" role="alert">
                                    {{ message }}
                                </div>
                                {% else %}
                                <div class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>
                                {% endif %} {% endfor %} {% endif %} {% endwith %}
                                <!-- end alert logic -->

                                <div class="card-content">
                                    <div class="card-body">

                                        <!-- edit rumah form -->
                                        <form class="form" action="/handle_edit_rumah/{{ to_edit_rumah.id }}"
                                            method="post" enctype="multipart/form-data">
                                            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">

                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="first-name-column"><strong>Nama
                                                                Perumahan</strong></label>
                                                        <input type="text" id="first-name-column" class="form-control"
                                                            placeholder="Nama Perumahan" name="nama_perumahan"
                                                            value="{{ to_edit_rumah.nama_perumahan }}">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="last-name-column"><strong>Alamat</strong></label>
                                                        <input type="text" id="last-name-column" class="form-control"
                                                            placeholder="Alamat" name="alamat"
                                                            value="{{ to_edit_rumah.alamat }}">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="last-name-column"><strong>Kordinat
                                                                Latitude</strong></label>
                                                        <input type="text" id="last-name-column" class="form-control"
                                                            value="{{ to_edit_rumah.latitude }}"
                                                            placeholder="Kordinat Latitude" name="latitude" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="last-name-column"><strong>Kordinat
                                                                Longitude</strong></label>
                                                        <input type="text" id="last-name-column" class="form-control"
                                                            value="{{ to_edit_rumah.longitude }}"
                                                            placeholder="Kordinat Longitude" name="longitude" required>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="last-name-column"><strong>Kecamatan</strong></label>
                                                        <select class="form-select" name="kecamatan">
                                                            <option selected>{{ to_edit_rumah.kecamatan }}</option>
                                                            {% for kecamatan in all_kecamatan %}
                                                            <option value="{{ kecamatan.nama_kecamatan }}">{{
                                                                kecamatan.nama_kecamatan }}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="city-column"><strong>Luas</strong></label>
                                                        <input type="text" id="city-column" class="form-control"
                                                            placeholder="Luas" name="luas"
                                                            value="{{ to_edit_rumah.luas}}">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="country-floating"><strong>Harga</strong></label>
                                                        <input type="number" id="country-floating" class="form-control"
                                                            placeholder="Country" name="harga"
                                                            value="{{ to_edit_rumah.harga }}">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="company-column"><strong>Lantai</strong></label>
                                                        <input type="text" id="company-column" class="form-control"
                                                            name="lantai" placeholder="Lantai"
                                                            value="{{ to_edit_rumah.lantai }}">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="email-id-column"><strong>Kamar
                                                                Tidur</strong></label>
                                                        <input type="text" id="email-id-column" class="form-control"
                                                            name="kamar_tidur" placeholder="Kamar Tidur"
                                                            value="{{ to_edit_rumah.kamar_tidur }}">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="email-id-column"><strong>Kamar
                                                                Mandi</strong></label>
                                                        <input type="text" id="email-id-column" class="form-control"
                                                            name="kamar_mandi" placeholder="Kamar Mandi"
                                                            value="{{ to_edit_rumah.kamar_mandi }}">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="email-id-column"><strong>Kontak</strong></label>
                                                        <select class="form-select" name="kontak_agen">
                                                            <option selected>{{ to_edit_rumah.kontak_agen }}</option>
                                                            {% for agen in all_agen %}
                                                            <option value="{{agen.nama_agen}}">{{agen.nama_agen}}
                                                            </option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="country-floating"><strong>Fasilitas</strong></label>
                                                        <select name="fasilitas"
                                                            class="choices form-select multiple-remove"
                                                            multiple="multiple">
                                                            <optgroup label="Fasilitas">
                                                                <option value="gym">Gym</option>
                                                                <option value="masjid" selected>Masjid</option>
                                                                <option value="taman">Taman</option>
                                                                <option value="playground">Playground</option>
                                                                <option value="kolam renang">Kolam Renang</option>
                                                            </optgroup>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group mt-2 mb-2 col-12">
                                                    <div class="form-group mb-3">
                                                        <label for="country-floating"><strong>Deskripsi
                                                                Rumah</strong></label>
                                                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                                            rows="3"
                                                            name="deskripsi">{{ to_edit_rumah.deskripsi }}</textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group mt-2 mb-2 col-12">
                                                    <label><strong>List Gambar</strong></label><br>

                                                    {% for gambar in to_edit_rumah.gambar %}
                                                    {{ gambar.nama_gambar }}<br>
                                                    {% endfor %}
                                                </div>

                                                <div class="form-group mt-2 mb-2 col-12">
                                                    <label for="add-image"><strong>Tambah Gambar</strong></label>
                                                    <input type="file" id="add-image" class="image-preview-filepond"
                                                        name="gambar-rumah">
                                                </div>
                                            </div>
                                            <div class="col-12 d-flex justify-content-end">
                                                <button type="submit" class="btn btn-primary me-1 mb-1">Edit</button>
                                                <a href="/admin_rumah">
                                                    <span class="btn btn-light-secondary me-1 mb-1">Batal</span>
                                                </a>
                                            </div>
                                    </div>
                                    </form>
                                    <!-- edit rumah form end -->

                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            </section>

        </div>

        <footer>
            <div class="footer clearfix mb-0 text-muted">
                <div class="float-start">
                    <p>2023 &copy; Rumah Tangsel</p>
                </div>
            </div>
        </footer>
    </div>
    </div>
    <script src="{{ url_for('static', filename='vendors/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ url_for('static', filename='vendors/simple-datatables/simple-datatables.js') }}"></script>
    <script>
        // Simple Datatable
        let table1 = document.querySelector('#table1');
        let dataTable = new simpleDatatables.DataTable(table1);
    </script>

    <script>
        FilePond.create(document.querySelector('.image-preview-filepond'), {
            allowImagePreview: true,
            allowImageFilter: false,
            allowImageExifOrientation: false,
            allowImageCrop: false,
            acceptedFileTypes: ['image/png', 'image/jpg', 'image/jpeg'],
            fileValidateTypeDetectType: (source, type) => new Promise((resolve, reject) => {
                // Do custom type detection here and return with promise
                resolve(type);
            })
        });
    </script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <script src="{{ url_for('static', filename='vendors/choices.js/choices.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
</body>

</html>