<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mazer Admin Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/iconly/bold.css') }}">
    <!--     
    <link rel="stylesheet" href="assets/vendors/dripicons/webfont.css">
    <link rel="stylesheet" href="assets/css/pages/dripicons.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/simple-datatables/style.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/bootstrap-icons/bootstrap-icons.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/perfect-scrollbar/perfect-scrollbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.svg') }}" type="image/x-icon">
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="/admin_dashboard"><img
                                    src="{{ url_for('static', filename='images/logo/logo.png') }}" alt="Logo"
                                    style="height: 3rem;"></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <!-- side bar menu -->
                    <ul class="menu">

                        <!-- menu -->
                        <li class="sidebar-title">Menu</li>
                        <li class="sidebar-item">
                            <a href="/admin_dashboard" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="/admin_kecamatan" class='sidebar-link'>
                                <i class="bi bi-geo-fill"></i>
                                <span>Kecamatan</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="/admin_rumah" class='sidebar-link'>
                                <i class="bi bi-house-fill"></i>
                                <span>Rumah</span>
                            </a>
                        </li>
                        <li class="sidebar-item active">
                            <a href="/admin_kontak_agen" class='sidebar-link'>
                                <i class="bi bi-person-lines-fill"></i>
                                <span>Kontak Agen</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a href="/admin_logout" class='sidebar-link'>
                                <i class="bi bi-box-arrow-left"></i>
                                <span>Log out</span>
                            </a>
                        </li>
                        <!-- menu end -->

                        <!-- user -->
                        <li class="sidebar-title">Users</li>
                        <li class="sidebar-item">
                            <a href="/admin_user" class='sidebar-link'>
                                <i class="bi bi-people-fill"></i>
                                <span>User</span>
                            </a>
                        </li>
                        <!-- user end -->

                    </ul>
                    <!-- side bar menu end -->
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <strong>
                                <h3>Kontak Agen</h3>
                            </strong>
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">

                            </nav>
                        </div>
                    </div>
                </div>
                <section id="basic-vertical-layouts">
                    <div class="row match-height">
                        <div class="col-md-12 col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Tambah Agen</h4>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form form-vertical" action="/handle_tambah_agen" method="post">
                                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label for="first-name-vertical"><strong>Nama
                                                                    Agen</strong></label>
                                                            <input type="text" id="first-name-vertical"
                                                                class="form-control" name="nama_agen"
                                                                placeholder="nama">
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label
                                                                for="first-name-vertical"><strong>Telepon</strong></label>
                                                            <input type="text" id="first-name-vertical"
                                                                class="form-control" name="nomor_telepon"
                                                                placeholder="nama">
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label
                                                                for="first-name-vertical"><strong>Email</strong></label>
                                                            <input type="text" id="first-name-vertical"
                                                                class="form-control" name="email" placeholder="nama">
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label
                                                                for="first-name-vertical"><strong>Whatsapp</strong></label>
                                                            <input type="text" id="first-name-vertical"
                                                                class="form-control" name="whatsapp" placeholder="nama">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 d-flex justify-content-end">
                                                        <button type="submit"
                                                            class="btn btn-primary me-1 mb-1">Tambah</button>
                                                        <button type="reset"
                                                            class="btn btn-light-secondary me-1 mb-1">Batal</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

            </div>

            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2023 &copy; Rumah Tangsel</p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="{{ url_for('static', filename='vendors/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <script src="{{ url_for('static', filename='vendors/simple-datatables/simple-datatables.js') }}"></script>
    <script>
        // Simple Datatable
        let table1 = document.querySelector('#table1');
        let dataTable = new simpleDatatables.DataTable(table1);
    </script>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>