<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rumah Tangsel</title>

    <!-- 
    - favicon
  -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/svg+xml">

    <!-- 
    - custom css link
  -->


    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Poppins:wght@400;500;600;700&display=swap"
        rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script> -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<style>
    html,
    body,
    .intro {
        height: 100%;
    }

    .form-control {
        border-color: transparent;
    }

    .input-group>.form-control:focus {
        border-color: transparent;
        box-shadow: inset 0 0 0 1px transparent;
    }

    .btn-link:hover {
        color: var(--prussian-blue);
        background-color: rgba(255, 255, 255, .35);
    }

    .btn-link:active,
    .btn-link.active {
        color: var(--prussian-blue);
        background-color: rgba(255, 255, 255, .35);
    }

    .btn-link:focus,
    .btn-link.focus {
        color: var(--prussian-blue);
        background-color: rgba(255, 255, 255, .35);
    }

    .btn-link:active:focus,
    .btn-link.active:focus {
        color: var(--prussian-blue);
        background-color: rgba(255, 255, 255, .35);
    }

    .form-control::placeholder {
        color: var(--prussian-blue);
    }

    .search-card {
        background: linear-gradient(to right, hsl(0, 0%, 100%), hsl(0, 0%, 100%));
        border: 3px solid var(--orange-soda);
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }

    .input-group-text {
        background: transparent;
    }

    #search-icon {
        color: var(--prussian-blue);
        font-size: 30px;
    }

    .button-cari {
        border: 1px solid var(--prussian-blue);
        background-color: var(--prussian-blue);
    }

    .button-cari:hover {
        color: var(--orange-soda);
        font-weight: bold;
        border: 2px solid var(--orange-soda);
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }



    .ly-detail-search {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
        border-radius: 15px;
    }

    .btn-light,
    .button-hapus {
        box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    }

    .btn-light:hover,
    .button-hapus:hover {
        color: var(--prussian-blue);
        font-weight: bold;
        border: 2px solid var(--prussian-blue);
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    }


    .btn {
        position: relative;
        background: var(--orange-soda);
        color: var(--white);
        font-family: var(--ff-poppins);
        font-size: var(--fs-5);
        text-transform: var(--text-transform, capitalize);
        border: 1px solid var(--orange-soda);
        padding: 10px 20px;
        z-index: 1;
    }

    .btn:is(:hover, :focus) {
        background: var(--white);
        color: var(--dark-jungle-green);
        border-color: var(--prussian-blue);
    }

    .btn::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: var(--white);
        transition: var(--transition);
        z-index: -1;
    }

    .btn:is(:hover, :focus)::before {
        width: 100%;
    }


    /* CheckBox */

    fieldset>*+* {
        margin-top: 0.5rem;
    }

    .form__group {
        display: flex;
        align-items: center;
    }

    input[type="checkbox"],
    input[type="radio"] {
        width: 1rem;
        height: 1rem;
        margin-right: 0.65rem;
    }

    .contact-agen p {
        margin-bottom: 0;
    }

    .card-footer {
        display: none;
    }

    .tampil {
        display: block;
    }
</style>


<body>

    <!-- 
    - #HEADER
  -->


    <header class="header" data-header>

        <div class="overlay" data-overlay></div>

        <div class="header-top">
            <div class="container">

                <ul class="header-top-list">

                    <li>
                        <a href="mailto:info@homeverse.com" class="header-top-link">
                            <ion-icon name="mail-outline"></ion-icon>

                            <span>rumahtangsel@gmail.com</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="header-top-link">
                            <ion-icon name="location-outline"></ion-icon>

                            <address style="display: block;margin-bottom: 0;">Tanggerang Selatan,Banten,Indonesia
                            </address>
                        </a>
                    </li>

                </ul>

                <div class="wrapper">
                    <ul class="header-top-social-list">

                        <li>
                            <a href="#" class="header-top-social-link">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="header-top-social-link">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="header-top-social-link">
                                <ion-icon name="logo-instagram"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="header-top-social-link">
                                <ion-icon name="logo-pinterest"></ion-icon>
                            </a>
                        </li>

                    </ul>


                </div>

            </div>
        </div>

        <div class="header-bottom">
            <div class="container">

                <a href="#" class="logo">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Homeverse logo">
                </a>

                <nav class="navbar" data-navbar>

                    <div class="navbar-top">

                        <a href="#" class="logo">
                            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Homeverse logo">
                        </a>

                        <button class="nav-close-btn" data-nav-close-btn aria-label="Close Menu">
                            <ion-icon name="close-outline"></ion-icon>
                        </button>

                    </div>

                    <div class="navbar-bottom">
                        <ul class="navbar-list">

                            <li>
                                <a href="/" class="navbar-link" data-nav-link>Beranda</a>
                            </li>

                            <li>
                                <a href="/cari_rumah" class="navbar-link" data-nav-link>Cari Rumah</a>
                            </li>

                            <li>
                                <a href="/about" class="navbar-link" data-nav-link>Tentang</a>
                            </li>

                            <li>
                                <a href="/contact" class="navbar-link" data-nav-link>Kontak</a>
                            </li>
                            {% if user_is_authenticated %}
                            <li>
                                <a href="/profile"><button class="header-top-btn">Profile</button></a>
                            </li>
                            <li>
                                <a href="/logout"><button class="header-top-btn">Logout</button></a>
                            </li>
                            {% else %}
                            <li>
                                <a href="/login"><button class="header-top-btn">Login/Sign Up</button></a>
                            </li>
                            {% endif %}

                        </ul>
                    </div>

                </nav>

                <div class="header-bottom-actions">

                    <button class="header-bottom-actions-btn" data-nav-open-btn aria-label="Open Menu">
                        <ion-icon name="menu-outline"></ion-icon>

                        <span>Menu</span>
                    </button>

                </div>

            </div>
        </div>

    </header>



    <main>
        <article>

            <section class="intro" style="background-color: hsl(0, 0%, 100%);">
                <div class="bg-image h-100">
                    <div class="mask d-flex align-items-center h-100">
                        <div class="container">
                            <div class="row">
                                <form action="/handle_cari_rumah" method="post">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                                    <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">

                                        <!-- search bar cari rumah by kecamatan -->
                                        <div class="card search-card mb-2" style="border-radius: 10em; ">
                                            <div class="card-body p-2">
                                                <div class="input-group input-group-lg">
                                                    <!-- <input type="text" name="search_bar_by_kecamatan"
                                                        class="form-control form-control-lg rounde bg-transparent"
                                                        placeholder="Kecamatan" aria-label="Cari Lokasi"
                                                        aria-describedby="basic-addon2"
                                                        style="color: var(--prussian-blue)" />
                                                    <span class="input-group-text border-0" id="basic-addon2"> -->
                                                    <select class="form-select bg-transparent"
                                                        name="search_bar_by_kecamatan" id="kecamatan"
                                                        style="border: none;" aria-label="Default select example">
                                                        <option selected>Kecamatan</option>
                                                        {% for kecamatan in all_kecamatan %}
                                                        <option value="{{ kecamatan.nama_kecamatan }}">{{
                                                            kecamatan.nama_kecamatan
                                                            }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <ion-icon id="search-icon" name="location"
                                                        style="margin-top: 4px;"></ion-icon>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card mt-3 ly-detail-search">
                                            <div class="card-body p-4">

                                                <!-- dropdown option parameter lantai, luas, kamar tidur, kamar mandi, harga -->
                                                <h6 class="text-uppercase mt-3 mb-4"
                                                    style="color: var(--prussian-blue);font-weight: bold;">Pencarian
                                                    Detail
                                                </h6>
                                                <div class="row">
                                                    <div class="col-md-4 mb-3">
                                                        <select class="form-select btn btn-light" name="dropdown_lantai"
                                                            aria-label="Default select example" aria-placeholder="">
                                                            <option value=0 selected>Lantai</option>
                                                            <option value=1>Satu</option>
                                                            <option value=2>Dua</option>
                                                            <option value=3>Tiga</option>
                                                            <option value=3>Lebih dari tiga</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4 mb-3">
                                                        <select class="form-select btn btn-light"
                                                            name="dropdown_kamar_tidur"
                                                            aria-label="Default select example">
                                                            <option selected value="0">Kamar Tidur</option>
                                                            <option value="1">Satu</option>
                                                            <option value="2">Dua</option>
                                                            <option value="3">Tiga</option>
                                                            <option value="3+">Lebih dari tiga</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-4 mb-3">
                                                        <select class="form-select btn btn-light"
                                                            name="dropdown_kamar_mandi"
                                                            aria-label="Default select example">
                                                            <option selected value="0">Kamar Mandi</option>
                                                            <option value="1">Satu</option>
                                                            <option value="2">Dua</option>
                                                            <option value="3">Tiga</option>
                                                            <option value="3+">Lebih dari tiga</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!-- end dropdown option -->

                                                <!-- checkboxes parameter fasilitas -->
                                                <div class="row">
                                                    <fieldset>
                                                        <h5>Fasilitas</h5>
                                                        <div class="row">

                                                            <div class="col-xl-3">
                                                                <div class="form__group">
                                                                    <input type="checkbox" value="gym"
                                                                        name="checkbox_gym">
                                                                    <label for="berries_1">Gym</label>
                                                                </div>
                                                                <div class="form__group">
                                                                    <input type="checkbox" value="masjid"
                                                                        name="checkbox_masjid">
                                                                    <label for="berries_2">Masjid</label>
                                                                </div>
                                                                <div class="form__group">
                                                                    <input type="checkbox" value="kamar"
                                                                        name="checkbox_kamar">
                                                                    <label for="berries_3">Kamar</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-5">
                                                                <div class="form__group">
                                                                    <input type="checkbox" value="taman"
                                                                        name="checkbox_taman">
                                                                    <label for="berries_1">Taman</label>
                                                                </div>
                                                                <div class="form__group">
                                                                    <input type="checkbox" value="playground"
                                                                        name="checkbox_playground">
                                                                    <label for="berries_2">Playground Anak</label>
                                                                </div>
                                                                <div class="form__group">
                                                                    <input type="checkbox" value="kolam_renang"
                                                                        name="checkbox_kolam_renang">
                                                                    <label for="berries_3">Kolam Renang</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </div>
                                                <!-- end dropdown parameter fasilitas -->

                                                <div class="d-flex justify-content-between align-items-center mt-4">
                                                    <p class="mb-0 " style="color: var(--prussian-blue);">
                                                        <strong>Kisaran
                                                            Harga</strong><span
                                                            class="font-weight-bold"><strong>Berdasarkan dengan kriteria
                                                                yang anda pilih.</strong></span>
                                                    </p>

                                                    <!-- action buttons -->
                                                    <div>
                                                        <button type="button"
                                                            class="btn btn-link btn-rounded mt-1 mb-1 button-hapus">
                                                            Hapus
                                                        </button>
                                                        <button type="submit"
                                                            class="btn btn-rounded button-cari mt-1 mb-1">Cari
                                                            Rumah
                                                        </button>
                                                    </div>
                                                    <!-- end action buttons -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Recommendation section -->
            <div class="container" style="margin-top: -100px;">
                <section class="property" id="property">
                    <div class="container">
                        <p class="section-subtitle">Properti</p>
                        {% if user_is_authenticated %}
                        <h2 class="h2 section-title">Rekomendasi Kami</h2>
                        {% else %}
                        <h2 class="h2 section-title">Hasil Pencarian</h2>
                        {% endif %}
                        <div class="row row-cols-1 row-cols-md-3 g-4 py-5">

                            {% for rumah in query_rumah %}
                            <!-- {% if rumah.kecamatan == kecamatan_query %} -->
                            <div class="col">
                                <div class="property-card">
                                    <figure class="card-banner">
                                        <!-- TODO link detail rumah -->
                                        <a href="/detail_rumah/{{ rumah.id }}">
                                            <img src="{{ url_for('static', filename='images/property-4.png') }}"
                                                alt="Luxury villa in Rego Park" class="w-100">
                                        </a>
                                        <div class="card-badge orange">{{ loop.index }}</div>
                                        <div class="banner-actions">
                                            <button class="banner-actions-btn">
                                                <ion-icon name="location"></ion-icon>

                                                <address style="margin-bottom: 0;">{{ rumah.alamat }}</address>
                                            </button>
                                        </div>
                                    </figure>

                                    <div class="card-content">
                                        <div class="card-price">
                                            <!-- Harga Disini -->
                                            <strong class="hargaRumah">{{ rumah.harga }}</strong>
                                        </div>
                                        <h3 class="h3 card-title">
                                            <!-- Nama Perumahan / Rumah -->
                                            <a href="/detail_rumah/{{ rumah.id }}">{{ rumah.nama_perumahan }}</a>
                                        </h3>
                                        <!--  -->
                                        <p class="card-text">
                                            Rumah yang nyaman dan cocok untuk keluarga
                                        </p>
                                        <ul class="card-list">
                                            <li class="card-item">
                                                <strong>{{ rumah.kamar_tidur }}</strong>

                                                <ion-icon name="bed-outline"></ion-icon>

                                                <span>Kamar</span>
                                            </li>
                                            <li class="card-item">
                                                <strong>{{ rumah.kamar_mandi }}</strong>
                                                <ion-icon name="man-outline"></ion-icon>
                                                <span>Kamar Mandi</span>
                                            </li>
                                            <li class="card-item">
                                                <strong>{{ rumah.luas }}</strong>
                                                <ion-icon name="square-outline"></ion-icon>
                                                <span>Luas M2</span>
                                            </li>
                                        </ul>
                                    </div>

                                    <!-- Kalau Login Tambahkan Class Tampil pada card-footer  -->
                                    <!-- class="card-footer tampil" -->
                                    {% if user_is_authenticated %}
                                    <div class="card-footer tampil">
                                        {%else%}
                                        <div class="card-footer">
                                            {% endif %}
                                            <div class="card-author">
                                                <figure class="author-avatar">
                                                    <img src="{{ url_for('static', filename='images/author.jpg') }}"
                                                        alt="Habibi Qodri" class="w-100">
                                                </figure>
                                                <div class="contact-agen">
                                                    <p class="author-name">
                                                        <a href="#">{{ rumah.kontak_agen }}</a>
                                                    </p>
                                                    <p class="author-title">Agen Perumahan</p>
                                                </div>

                                                <div class="card-footer-actions">

                                                    <button class="card-footer-actions-btn">
                                                        <ion-icon name="mail-outline"></ion-icon>
                                                    </button>

                                                    <button class="card-footer-actions-btn">
                                                        <ion-icon name="logo-whatsapp"></ion-icon>
                                                    </button>

                                                    <button class="card-footer-actions-btn">
                                                        <ion-icon name="call-outline"></ion-icon>
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- {% endif %} -->
                                {% endfor %}

                            </div>
                        </div>
                </section>
            </div>
            <!-- End of recommendation section -->

        </article>
    </main>





    <!-- 
    - #FOOTER
  -->

    <footer class="footer">

        <div class="footer-top">
            <div class="container">

                <div class="footer-brand">

                    <a href="#" class="logo">
                        <img src="{{ url_for('static', filename='images/logo-light.png') }}" alt="Homeverse logo">
                    </a>

                    <p class="section-text">
                        Rumah Tangsel merupakan perusahaan penyedia jasa pembelian rumah,penyedia informasi dan
                        rekomendasi harga rumah, dan membantu anda dalam penjualan properti
                    </p>

                    <ul class="contact-list">

                        <li>
                            <a href="#" class="contact-link">
                                <ion-icon name="location-outline"></ion-icon>

                                <address>Viktor,Pamulang,Tanggerang Selatan</address>
                            </a>
                        </li>

                        <li>
                            <a href="tel:+0123456789" class="contact-link">
                                <ion-icon name="call-outline"></ion-icon>

                                <span>+0123-456789</span>
                            </a>
                        </li>

                        <li>
                            <a href="mailto:contact@homeverse.com" class="contact-link">
                                <ion-icon name="mail-outline"></ion-icon>

                                <span>sales@rumahtangsel.com</span>
                            </a>
                        </li>

                    </ul>

                    <ul class="social-list">

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-facebook"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-twitter"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-linkedin"></ion-icon>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="social-link">
                                <ion-icon name="logo-youtube"></ion-icon>
                            </a>
                        </li>

                    </ul>

                </div>

                <div class="footer-link-box">

                    <ul class="footer-list">

                        <li>
                            <p class="footer-list-title">Perusahaan</p>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Tentang Kami</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Semua Produk</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Peta Lokasi</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Tanya Kami</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Kontak Kami</a>
                        </li>

                    </ul>

                    <ul class="footer-list">

                        <li>
                            <p class="footer-list-title">Services</p>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Beli Rumah</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Rekomendasi Harga</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Jual Rumah</a>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Penawaran Spesial</a>
                        </li>

                    </ul>

                    <ul class="footer-list">

                        <li>
                            <p class="footer-list-title">Pelayanan Pelanggan</p>
                        </li>

                        <li>
                            <a href="#" class="footer-link">Hubungi Kami</a>
                        </li>

                    </ul>

                </div>

            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">

                <p class="copyright">
                    &copy; 2022 <a href="#">codewithsadee</a>. All Rights Reserved
                </p>

            </div>
        </div>

    </footer>





    <!-- 
    - custom js link
  -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

    <!-- 
    - ionicon link
  -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script>
        function formatRupiah(angka) {
          var formatter = new Intl.NumberFormat('id-ID', {
            style: 'currency',
            currency: 'IDR',
            minimumFractionDigits: 0
          });
      
          return formatter.format(angka);
        }
        // Ambil elemen-elemen harga rumah
        var elemenHargaRumah = document.querySelectorAll('.hargaRumah');
        // // Ubah format menjadi rupiah untuk setiap elemen harga rumah
        elemenHargaRumah.forEach(function(elemen) {
          var harga = parseFloat(elemen.innerHTML.replace(/[^\d.-]/g, ''));
          if (!isNaN(harga)) {
            var hargaRupiah = formatRupiah(harga);
            elemen.innerHTML = hargaRupiah;
          }
        });
      </script>

</body>

</html>