<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign in & Sign up Form</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login_register.css')}}" />
  <!-- <link rel="stylesheet" href="../assets/css/style.css" /> -->
</head>

<body>
  <main>
    <div class="box">
      <div class="inner-box">
        <div class="forms-wrap">

          <!-- Alert logic -->
          {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages %} {% if category ==
          'error' %}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% elif category == 'warning' %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% else %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endif %} {% endfor %} {% endif %} {% endwith %}
          <!-- end alert logic -->

          <!-- Login form -->
          <form action="/handle_login" autocomplete="off" class="sign-in-form" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <div class="logo">
              <img src="{{ url_for('static', filename='images/logo.png') }}" alt="easyclass" />
            </div>

            <div class="heading">
              <h2>Selamat Datang</h2>
              <h6>Belum terdaftar?</h6>
              <a href="#" class="toggle">Sign Up</a>
            </div>

            <div class="actual-form">
              <div class="input-wrap">
                <input type="text" name="email" minlength="4" class="input-field" autocomplete="off" required />
                <label>Email</label>
              </div>

              <div class="input-wrap">
                <input type="password" name="password" minlength="4" class="input-field" autocomplete="off" required />
                <label>Password</label>
              </div>

              <input type="submit" value="Sign In" class="sign-btn" />

           <!-- 
            Tombol Tes Sweetalert Login gagal dan berhasil 
            - Ganti nama function menjadi tes pada script dibawah    
            -->
            <!-- <button class="btn btn-primary" id="tes">Tes</button> -->

              <p class="text">
                Lupa Password atau detail login anda?
                <a href="#">Dapatkan Bantuan</a> Login
              </p>
            </div>
          </form>
          <!-- end login form -->

          <!-- register form -->
          <form action="/handle_register" autocomplete="off" class="sign-up-form" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <div class="logo">
              <img src="{{ url_for('static', filename='images/logo.png')}}" alt="easyclass" />
            </div>

            <div class="heading">
              <h2>Daftar Akun</h2>
              <h6>Sudah punya akun?</h6>
              <a href="#" class="toggle">Sign in</a>
            </div>

            <div class="actual-form">
              <div class="input-wrap">
                <input type="text" name="email" minlength="4" class="input-field" autocomplete="off" required />
                <label>Email</label>
              </div>

              <div class="input-wrap">
                <input type="password" name="password" minlength="4" class="input-field" autocomplete="off" required />
                <label>Password</label>
              </div>
              <div class="input-wrap">
                <input type="password" name="password" minlength="4" class="input-field" autocomplete="off" required />
                <label>Confirm Password</label>
              </div>

              <input type="submit" value="Sign Up" class="sign-btn" />

              <p class="text">
                Dengan mendaftar, Saya menyetuji Persyaratan Pelayanan dan Kebijakan Privasi
              </p>
            </div>
          </form>
          <!-- end register form -->
        </div>

        <div class="gambar-auth">
          <img src="{{ url_for('static', filename='images/property-1.jpg') }}" class="img-fluid" alt="">
        </div>
      </div>
    </div>
    </div>
  </main>

  <!-- Javascript file -->

  <script src="{{ url_for('static', filename='js/login_register.js') }}"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script
  src="https://code.jquery.com/jquery-3.7.0.js"
  integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
  crossorigin="anonymous"></script>


  <script>



$(document).ready(function() {
  $("#tes").click(function() {
    tes();
  });
});

// Login berhasil

function loginSuccess() { 
  Swal.fire(
  'Success!',
  'Berhasl Login!',
  'success'
)
 }



// Login Gagal

function loginFailed() {
  Swal.fire({
  icon: 'error',
  title: 'Error',
  text: 'Email atau Password Salah!',
})
}

</script>
</body>

</html>